<h1><i>Express</i> and <i>Multer</i> File Upload Example</h1>
<hr>
<meta charset="utf-8" />

<h3>4. Multiple File Upload (Keep Original Filename)</h3>
<div>
    <form method="POST" enctype="multipart/form-data" action="/notice/write">
        <input type="title" name="title" id="title"/><br/>
        <input type="text" name="content" id="content"/><br/>
        <input type="checkbox" name="priority" id="priority"/><br/>
    
        <input type="checkbox" name="program_id" id="program_id"/><br/>

        <input type="file" name="FILES" multiple id="files">
        <button type="submit" >제출</button>
    </form>
    <br/>
</div>
