
<section class="page-section bg-danger" id="Top">
  <div class="container px-4 px-lg-5 webabout">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 text-center">
              <h2 class="text-white mt-0"> <span">Web 소개</span></h2>
              <hr class="divider divider-light" />
              <p class="text-white-75 mb-4"></p>
          </div>
      </div>
  </div>
</section>
<section class="page-section bg-danger" id="Middle">
  <div class="container px-4 px-lg-5 appabout">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 text-center">
              <h2 class="text-white mt-0"> <span">App 소개</span></h2>
              <hr class="divider divider-light" />
              <p class="text-white-75 mb-4"></p>
          </div>
      </div>
  </div>
</section>
<section class="page-section bg-danger" id="Bottom">
  <div class="container px-4 px-lg-5 information">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 text-center">
              <h2 class="text-white mt-0"> <span">Information</span></h2>
              <hr class="divider divider-light" />
              <p class="text-white-75 mb-4"></p>
          </div>
      </div>
  </div>
</section>
